<h2 class="header-vis">Visualization of Gun Deaths in the US</h2>

<fieldset>
    <legend>Please select your view</legend>
    <div id="radio">
        <label>
            <input type="radio" name="radio-button" checked value="SHOOTINGS" />
            <span>All Shootings</span>
        </label>
    </div>
    <div id="radio">
        <label>
            <input type="radio" name="radio-button" value="DEATHS" />
            <span>Total Deaths</span>
        </label>
    </div>
    <div id="radio">
        <label>
            <input " type="radio" name="radio-button" value="GENDER"/>
            <span>Male vs Female</span>
        </label>
    </div>
    <div id="radio">
        <label>
            <input type="radio" name="radio-button" value="AGE" />
            <span>Statewise Death based on Age Group</span>
        </label>
    </div>
    <div>
        <button id="selectorBtn">Show Selected Option</button>
    </div>
</fieldset>

<svg id="map" class="svg__map"></svg>

<div id="svgs" class="svg__container hide">
    <object
        id="man"
        type="image/svg+xml"
        data="../suhannath.github.io//resource/man.svg"
    >
        Your browser does not support SVG
    </object>
    <object
        id="female"
        type="image/svg+xml"
        data="../suhannath.github.io//resource/girl.svg"
    >
        Your browser does not support SVG
    </object>
    <object
        id="teens"
        type="image/svg+xml"
        data="../suhannath.github.io/resource/sister-and-brother.svg"
    >
        Your browser does not support SVG
    </object>
    <object
        id="young"
        class="young"
        type="image/svg+xml"
        data="../suhannath.github.io/resource/kids-child.svg"
    >
        Your browser does not support SVG
    </object>
</div>
<div class="svg__container">
    <svg id="svg-icon-legend"></svg>
</div>

<div class="header-vis">
    <h3>Instructions:</h3>
    <ul>
        <li>Select the desired view using the radio buttons</li>
        <li>Zoom in and hover over datapoints for more details</li>
        <li>
            On the statewise view, click on a state to see the age-group death
            distribution per state, represented by the 4 svg icons (Male,
            Female, Teens, Kids)
        </li>
    </ul>
</div>

<div class="header-vis">
    <h3>Credits:</h3>
    <ul>
        <li>
            D3.js
            <a href="https://github.com/d3/d3/blob/master/LICENSE">LICENSE</a>
        </li>
        <li>SVGs - Flat Icon <a href="https://www.flaticon.com/">Link</a></li>
        <li>
            US State Choloropleth
            <a
                href="https://bl.ocks.org/wboykinm/dbbe50d1023f90d4e241712395c27fb3"
                >Link</a
            >
        </li>
        <li>
            Spike Map <a href="https://observablehq.com/@d3/spike-map">Link</a>
        </li>
        <li>
            Color Schemes for Gender and Age
            <a href="https://colorbrewer2.org/#type=sequential&scheme=BuGn&n=3"
                >Link</a
            >
        </li>
    </ul>
</div>

<script>
    initD3GunMap()
</script>
