<section class="about-me" id="about">
    <h2 class="section__title section__title--about">Suhan Nath</h2>

    <div class="about-me__body">
        <p>
            I am a Master's student pursuing computer science at UIC. I am also
            working as a Graduate Assistant in the College of Business UIC.
            Previously to this I was a technology consultant at Publicis Sapient
            mainly focussed on Front-End Technologies. My primary research
            interest is Human Computer Interaction.
        </p>
        <p>
            In my free time I like to play video games like FIFA and Call of
            Duty or just hang out on discord with my friends. I am also a big
            fan of soccer and the team that I support is Arsenal. #COYG
        </p>
    </div>

    <img
        src="img/Suhan_DP2.PNG"
        alt="My display picture"
        class="about-me__img"
    />
</section>
