<section id="references" class="reference-list">
    <h2>Sources</h2>
    <ul>
        <li>Jquery - <a href="https://jquery.org/license/">License</a></li>
        <li><a href="https://developer.mozilla.org/en-US/">Mozilla Web Docs</a></li>
        <li><a href="https://www.nytimes.com/interactive/2020/08/11/us/politics/vote-by-mail-us-states.html">The New York Times</a></li>
        <li>Lora Font - <a href="https://fonts.google.com/specimen/Lora?query=lora#license">License</a></li>
        <li><a href="https://www.facebook.com/UIC.EVL/">EVL Logo</a></li>
    </ul>
</section>